[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/gpakosz/.tmux
[submodule "submodules/ThinkVim"]
	path = submodules/ThinkVim
	url = https://github.com/hardcoreplayers/ThinkVim.git
[submodule "submodules/macOS-Defaults"]
	path = submodules/macOS-Defaults
	url = https://github.com/kevinSuttle/macOS-Defaults
