[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/gpakosz/.tmux
[submodule "submodules/macOS-Defaults"]
	path = submodules/macOS-Defaults
	url = https://github.com/kevinSuttle/macOS-Defaults
[submodule "submodules/prezto"]
	path = submodules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
